html {
    margin: 0;
}

body {
    margin: 0;
    font-family: 'Inter';
}

// Scrollbar
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background: #aaa;
    border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
    background: #999;
}

/* MEDIA QUERIES - Primary layout.
  ========================================================================== */

// max screen width
@mixin scMax($screen) {
    @media (max-width: $screen+'px') {
        @content;
    }
}

// COLOR VARS
// dark: #202124;
// white: #ffffff;
// off: #e8eaed;

// LIGHT INIT
.lightapp {
    --main: #ffffff;
    --font: #202124;
    --gray: #5f636844;
    --gray2: #f0f0f0;
    --yellow: #feefc3;
    --shadow: #6d6d6d;
    --alert: #313235;
}

// DARK INIT
.darkapp {
    --main: #202124;
    --font: #e8eaed;
    --gray: #9aa0a688;
    --gray2: #333333;
    --yellow: #41331c;
    --shadow: #000000;
    --alert: #616368;
}

.app {
    min-height: 100vh;
    background-color: var(--main);
    color: var(--font);
    overflow: hidden;
}

// Content Button
.cb {
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        background-color: #cccccc55;
    }
}

.cb-only {
    display: contents;
    cursor: pointer;
    font-family: 'Inter';
}

.noptr {
    * {
        pointer-events: none;
    }
}

// ALERT
.alert {
    position: fixed;
    padding: 16px 36px;
    max-width: 300px;
    user-select: none;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
    background-color: var(--alert);
    box-shadow: 1px ​1px 2px 1px black;
    border-radius: 3px;
    color: #ffffff;
}

// LOGIN
.login {
    height: 100vh;
    width: 100%;
    position: relative;
    .login-content {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
    }
    .title {
        font-weight: 500;
        font-size: 18px;
        margin: 0;
        margin-bottom: 20px;
    }
    .login-button {
        background-color: transparent;
        outline: none;
        border: none;
        font-size: 16px;
        font-family: 'Inter';
        display: flex;
        align-items: center;
        border: 1px solid #1976d2;
        padding: 10px 14px;
        border-radius: 100px;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;
        svg {
            font-size: 16px;
            margin-right: 10px;
        }
        &:hover {
            background-color: #f0f0f0;
        }
    }
    .lb-disabled {
        opacity: 0.5;
    }
}
